@model LoginUserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HastaLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hasta Bilgileri</title>
</head>
<body>
    <h1>Kullanıcı Bilgileri</h1>
    <p>Kullanıcı Adı: @TempData["Username"]</p>
    
</body>
</html>