@model List<AnaBilimDaliViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Index</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad</th>
                
                <th>Sil</th>
                <th>GÜncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.AnaBilimDaliId</th>
                    <td>@item.AnaBilimDaliAd</td>

                    <td><a href="/AnaBilimDalii/DeleteAnaBilimDali/@item.AnaBilimDaliId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/AnaBilimDalii/UpdateAnaBilimDali/@item.AnaBilimDaliId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/AnaBilimDalii/AddAnaBilimDali/" class="btn btn-primary">Yeni AnaBilimDali Ekle</a>
</div>