@using WebProgramlamaOdev.EntityLayer.Concreate;
@model List<Department>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h3>Departman</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Icon</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Departmentt/DeleteDepartment/@item.DepartmentID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Departmentt/UpdateDepartment/@item.DepartmentID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Departmentt/AddDepartment/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Department Girişi</a>