@using WebProgramlamaOdev.EntityLayer.Concreate;
@model Randevu
@{
    ViewData["Title"] = "AddRandevu";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h3>Randevu Ekle</h3>

<form method="post">
    <label>Randevu Tarih</label>
    <input type="date" asp-for="RandevuTarih" class="form-control" />
    <br />
    <label>Saat Aralığı</label>
    <input type="text" asp-for="SaatAraligi" class="form-control" />
    <br />
    <label>Hasta Tc</label>
    <input type="text" asp-for="HastaTC" class="form-control" />
    <br />
    <label>Poliklinik</label>
    <select asp-for="PoliklinikId" asp-items="@(new SelectList(ViewBag.Poliklinikler, "PoliklinikId", "PoliklinikAd"))" class="form-control">
        <option value="">Poliklinik Seç</option>
    </select>
    <br />
    <label>Doktor</label>
    <select asp-for="DoktorId" asp-items="@(new SelectList(ViewBag.Doctors, "DoktorId", "FullName"))" class="form-control">
        <option value="">Doktor Seç</option>
    </select>
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Durum" class="form-control" />
    <br />
    <button class="btn btn-primary">Randevu Ekle</button>
</form>

