@using WebProgramlamaOdev.EntityLayer.Concreate;
@model Randevu
@{
    ViewData["Title"] = "UpdateRandevu";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Randevu Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="RandevuId" />
    <label>Randevu Tarih</label>
    <input type="datetime" asp-for="RandevuTarih" class="form-control" />
    <br />
    <label>Saat Aralığı</label>
    <input type="text" asp-for="SaatAraligi" class="form-control" />
    <br />
    <label>Hasta TC</label>
    <input type="text" asp-for="HastaTC" class="form-control" />
    <br />
    <label>Doktor</label>
    <input type="text" asp-for="DoktorId" class="form-control" />
    <br />
    <label>Poliklinik</label>
    <input type="text" asp-for="PoliklinikId" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Durum" class="form-control" />
    <br />
    <button class="btn btn-primary">Randevu güncelle</button>
</form>